html{
   background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fphoto%2Fbeautiful-aurora-borealis-in-the-night-sky-13158695%2F&psig=AOvVaw2y-7u5wWQzLX-pLYzJvQ6v&ust=1709392887096000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCPjfpPCu04QDFQAAAAAdAAAAABAJ");
}




.container{
    width:607px;
    height:829px;
    margin:auto;
    margin-top:75px;
    border-radius:12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.top-bar{
    display:flex;
    justify-content:center;
    gap:14px;
    padding-top:60px;
}

.top-bar input{
    display:flex;
    width:362px;
    height:78px;
    background: #ebfffc;
    border:none;
    outline:none;
    border-radius:40px;
    padding-left:40px;
    color:#626262;
    font-size:20px;
    font-weight:400;
}

.searchIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    width:78px;
    height:78px;
    background: #ebfffc;
    border-radius:40px;
    cursor:pointer;
}

.weatherImage{
 display:flex;
 margin-top:29px;
 justify-content:center;
}

.weatherTemp{
    display:flex;
    justify-content:center;
    color:white;
    font-size:120px;
    font-weight:400;
}
.weatherLocation{
    display:flex;
    justify-content:center;
    color:white;
    font-size:60px;
}

.dataContainer{
    margin-top:50px;
    color:white;
    display:flex;
    justify-content:center;
}

.element{
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:12px;
}

.data{
    font-size:34px;
    font-weight:400;
    display:flex;
    
    
}

.text{
    font-size:20px;
    font-weight:400;
    
    
    
}

.icon{
    margin-top:10px;
    padding-right:10px;
}
